.Background {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(7,42,78,1) 0%,rgba(10,48,85,1) 6%,rgba(19,66,106,1) 15%,rgba(35,94,137,1) 24%,rgba(60,127,166,1) 33%,rgba(80,146,178,1) 39%,rgba(100,163,184,1) 44%,rgba(128,180,182,1) 51%,rgba(151,192,177,1) 56%,rgba(178,201,166,1) 62%,rgba(194,202,155,1) 66%,rgba(213,199,137,1) 71%,rgba(228,189,118,1) 76%,rgba(238,168,92,1) 84%,rgba(240,150,75,1) 92%,rgba(236,126,57,1) 98%,rgba(235,120,53,1) 100%);
    position: relative;

}

.MainContentFadeAppear, .MainContentFadeEnter {
    position: absolute;
    z-index: 1;

    height: 61.8%;
    width: 61.8%;
    opacity: 0;
	top: 19.1%;
    left: 19.1%;
    right: 19.1%;
    bottom: 19.1%;
    opacity: 0;
}

.MainContentFadeAppearActive, .MainContentFadeEnterActive, .MainContentFadeEnterDone {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    

    transition-property: height, width, top, left, right, bottom, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; 
}

.MainContentFadeExit {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
}

.MainContentFadeExitActive, .MainContentFadeExitDone {
    position: absolute;
    z-index: 1;

    height: 61.8%;
    width: 61.8%;
    opacity: 0;
	top: 19.1%;
    left: 19.1%;
    right: 19.1%;
    bottom: 19.1%;
    opacity: 0;
    
    transition-property: height, width, top, left, right, bottom, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;          
}

.AppList {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    z-index: 1;
	padding: 0px;
    border: 0px;
    margin: 0px;
	top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;  
}

.AppList::after {
    content: '';
    flex: auto;
}

.AppListAppear, .AppListEnter{
    -webkit-filter: blur(40px); /* Safari 6.0 - 9.0 */
    filter: blur(40px);    
    opacity: 1;
}

.AppListAppearActive, .AppListEnterActive, .AppListEnterDone {
    opacity: 1;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);    
    transition: all 300ms ease-in-out;
    transition-property: opacity, filter;
}

.AppListExit {
    -webkit-filter: blur(40px); /* Safari 6.0 - 9.0 */
    filter: blur(40px);    
    opacity: 1;
}

.AppListExitActive, .AppListExitDone {
    opacity: 0;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
    transition: all 300ms ease-in-out;
    transition-property: opacity, filter;
}

.AppIconContainer {
    height: 100%;
    width: 100%;
    min-width: 160px;
    max-height: 220px;
    flex-grow: 1;
    flex-shrink: 1;
}

.AppIconColumn {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.AppIconEnter, .AppIconAppear {
    color: white;
    text-align: center;
    flex-basis: 0;
	padding: 0px;
    border: 0px;
    margin: 0px;
    align-items: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    -webkit-filter: blur(40px); /* Safari 6.0 - 9.0 */
    filter: blur(40px);      
}

.AppIconEnterActive, .AppIconEnterDone, .AppIconAppearActive, .AppIconAppearDone {
    color: white;
    text-align: center;
    flex-basis: 0;
	padding: 0px;
    border: 0px;
    margin: 0px;
    align-items: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
    transition: filter 300ms ease-in-out-out
}

.AppIconAndNotification {
    position: relative;
    width: 128px;
    height: 128px;
}

.AppIconName {
    font: "Helvetica Neue", sans-serif;
    text-shadow: 0px 0px 25px black;
}

.IconNotification {
    position: absolute;
    top:-10px;
    right: -14px;
    padding: 3px 9px;
    border: 2px solid white;
    border-radius:100px;
    background: linear-gradient(top, #FF6969 0%,#ff0000 100%);
	background: -webkit-linear-gradient(top, #FF6969 0%,#ff0000 100%);
	background: -moz-linear-gradient(top, #FF6969 0%,#ff0000 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px 	rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset; 
    background-clip: padding-box;
}

.NotificationText {
    margin: 0px;
    font:bold 12px/18px "Helvetica Neue", sans-serif; 
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);      
}



.TestAppear, .TestEnter {
    position: absolute;
    z-index: 1;
    background-color: #ccc;

    height: 61.8%;
    width: 61.8%;
    opacity: 0;
	top: 19.1%;
    left: 19.1%;
    right: 19.1%;
    bottom: 19.1%;
    opacity: 0;    
}

.TestAppearActive, .TestEnterActive, .TestEnterDone {
    position: absolute;
    z-index: 1;
    background-color: #ccc;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    

    transition-property: height, width, top, left, right, bottom, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; 
}

.TestExit {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    background-color: #ccc;    
}

.TestExitActive, .TestExitDone {
    position: absolute;
    z-index: 1;
    background-color: #ccc;

    height: 61.8%;
    width: 61.8%;
    opacity: 0;
	top: 19.1%;
    left: 19.1%;
    right: 19.1%;
    bottom: 19.1%;
    opacity: 0;
    
    transition-property: height, width, top, left, right, bottom, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;      
}