.desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 10% 10% 10% 10%; */
}

.background {
    z-index: -1;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(7,42,78,1) 0%,rgba(10,48,85,1) 6%,rgba(19,66,106,1) 15%,rgba(35,94,137,1) 24%,rgba(60,127,166,1) 33%,rgba(80,146,178,1) 39%,rgba(100,163,184,1) 44%,rgba(128,180,182,1) 51%,rgba(151,192,177,1) 56%,rgba(178,201,166,1) 62%,rgba(194,202,155,1) 66%,rgba(213,199,137,1) 71%,rgba(228,189,118,1) 76%,rgba(238,168,92,1) 84%,rgba(240,150,75,1) 92%,rgba(236,126,57,1) 98%,rgba(235,120,53,1) 100%);
}

.ServiceUnavaliable {
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: white;
}

.appArea {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;    
	position: fixed;
	top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
	padding: 0;
    border: 0;
    margin: 0;
}

.AppIcon {
    color: white;
    text-align: center;
    flex-basis: 0;
	padding: 0;
    border: 0;
    margin: 0;
    max-width: 20%;
    min-width: 20%;
    max-height: 30%;
    min-height: 30%;
    flex-direction: row;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.AppIconAndNotification {
    position: relative;
    width: 74px;
    height: 74px;
}

.AppIconName {
    font: "Helvetica Neue", sans-serif; 
}

.IconNotification {
    position: absolute;
    top:-10px;
    right: -14px;
    padding: 3px 9px;
    border: 2px solid white;
    border-radius:100px;
    background: linear-gradient(top, #FF6969 0%,#ff0000 100%);
	background: -webkit-linear-gradient(top, #FF6969 0%,#ff0000 100%);
	background: -moz-linear-gradient(top, #FF6969 0%,#ff0000 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px 	rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset; 
    background-clip: padding-box;
}

.NotificationText {
    margin: 0px;
    font:bold 12px/18px "Helvetica Neue", sans-serif; 
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);      
}