.ServerGroupArea {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: column;
    position: absolute;
    padding: 0px;
    margin: 0px;
    border: solid 0 transparent;
}

.ServerGroupControlArea {
    border: solid 0 transparent;
    border-bottom: 1px solid rgb(11, 188, 233);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 40px;
    display: flex;
}

.ServerGroupControlButton {
    border: 0px;
    float: left;
    margin: 0px 10px 0px 10px;
    padding: 0px;
    cursor: pointer;
    flex: 1;
    height: 100%;
    max-width: 40px;
    position: relative;
}

.ServerGroupControlButton .img {
    display: block;
    margin: auto;
}


.ServerGroupList {
    margin: 0px;
    padding: 0px;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    border: 0 solid transparent;
    flex: 1 1 auto;
    border-bottom: 1px solid rgb(11, 188, 233);
    /* For the element inside */
    display: flex;
    flex-flow: column;
}

.ServerGroupElement {
    height: 2em;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(11, 188, 233);
    float: none;
    flex: 0 1 auto;
    background-color: white;
    position: relative;
}

.ServerGroupElementSelected {
    height: 2em;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(11, 188, 233);
    float: none;
    flex: 0 1 auto;
    background-color: #03A9F4;
    position: relative;
}

.ServerGroupElementText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.ServerListArea {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: column;
    position: absolute;
    padding: 0px;
    margin: 0px;
    border: solid 0 transparent;
}

.ServerSearchArea {
    border: solid 0 transparent;
    border-bottom: 1px solid rgb(11, 188, 233);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 40px;
    display: flex;
}

.ServerListControlArea {
    border: solid 0 transparent;
    border-bottom: 1px solid rgb(11, 188, 233);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 40px;
    display: flex; 
}

.ServerList {
    margin: 0px;
    padding: 0px;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    border: 0 solid transparent;
    flex: 1 1 auto;
    border-bottom: 1px solid rgb(11, 188, 233);
    display: flex;
    flex-flow: column;
}

.ServerListElement {
    height: 2em;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(11, 188, 233);
    float: none;
    flex: 1 1 auto;
    background-color: white;
}

.ServerListElementSelected {
    height: 2em;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(11, 188, 233);
    float: none;
    flex: 1 1 auto;
    background-color: rgb(11, 188, 233);
}